* {
	margin: 0px; padding: 0px;
}
html {
	background: url("../images/bodybg.png") repeat-x top rgb(221, 223, 225);
}
body {
	font: 14px/1.3 "Segoe UI", Arial, sans-serif; color: rgb(249, 249, 249);  font-size-adjust: none; font-stretch: normal;
}
a {
	color: rgb(78, 78, 78); text-decoration: none;
}
a:visited {
	color: rgb(78, 78, 78); text-decoration: none;
}
a:hover {
	text-decoration: none;
}
header {
	padding: 10px; height: 160px; display: block;
}
header h1 {
	margin: 75px auto; height: 80px; text-align: center; text-indent: -99999px; overflow: hidden;
}
#filter {
	background: url("../images/bar.png") repeat-x 0px -94px; margin: 55px auto; width: 600px; height: 39px; text-align: center; display: block; position: relative; box-shadow: 0px 4px 4px #000; -moz-box-shadow: 0 4px 4px #000; -webkit-box-shadow: 0 4px 4px #000;
}
#filter::before {
	background: url("../images/bar.png") no-repeat; top: 0px; width: 78px; height: 43px; position: absolute; content: ""; box-shadow: 0px 2px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
#filter::after {
	background: url("../images/bar.png") no-repeat; top: 0px; width: 78px; height: 43px; position: absolute; content: ""; box-shadow: 0px 2px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
#filter::before {
	background-position: 0px -47px; left: -78px;
}
#filter::after {
	right: -78px;
}
#filter a {
	padding: 0px 15px; height: 39px; color: rgb(255, 255, 255); line-height: 37px; display: inline-block; text-shadow: 1px 1px 1px #315218;
}
#filter a:hover {
	text-decoration: none;
}
#filter a.active {
	background: url("../images/bar.png") repeat-x 0px -138px; box-shadow: 1px 0px 0px rgba(255,255,255,0.2), -1px 0px 0px rgba(255,255,255,0.2), inset 1px 0px 1px rgba(0,0,0,0.2), inset -1px 0px 1px rgba(0,0,0,0.2);
}
#container {
	margin: 0px auto; width: 830px; overflow: hidden; display: block;
}
#container li {
	list-style: none; margin: 6px; width: 128px; height: 78px; float: left; position: relative; box-shadow: 0px 0px 5px #000; -moz-box-shadow: 0 0 5px #000; -webkit-box-shadow: 0 0 5px #000;
}
#container ul {
	overflow: hidden;
}
#container ul.hidden {
	display: none;
}
.abc {
	background: rgb(7, 105, 185); padding: 0px 12px; border: 0px solid rgb(167, 167, 167); width: 60px; color: white;
}
.sbtn {
	height: 39px; font-size: 14px; margin-left: -1px; vertical-align: middle; float: left; display: inline-block; cursor: pointer;
}
.subm {
	height: 25px; margin-left: 10px;
}
.centerabc {
	left: 44%; top: 180px; width: 600px; line-height: 200px; margin-right: auto; margin-left: auto; vertical-align: middle; position: absolute;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.white {
	color: white;
}
.black {
	color: rgb(102, 102, 102);
}
.br_white {
	background-color: rgb(35, 42, 52);
}
.br_reg {
	background-color: red;
}
.br_green {
	background-color: rgb(7, 105, 185);
}
.br_ye {
	background-color: rgb(255, 153, 0);
}
.context {
	margin: 0px auto; width: 740px; text-align: center; overflow: hidden; display: block; position: relative; background-color: rgb(238, 243, 246);
}
.context span {
	margin: 10px 4px 0px 0px; width: 96px; height: 20px; text-align: center; color: rgb(16, 116, 178); line-height: 20px; float: left; cursor: pointer;
}
.div_pro_con {
	margin-top: 20px;
}
.div_pro_con ul {
	margin: 0px; width: 100%; overflow: hidden;
}
.div_pro_con li {
	margin: 10px 4px 0px 0px; width: 96px; height: 20px; text-align: center; color: rgb(16, 116, 178); line-height: 20px; overflow: visible; text-decoration: none; float: left; display: block; position: relative; cursor: pointer;
}
.con_title {
	margin: 0px auto; top: 15px; width: 740px; text-align: center; overflow: hidden; font-size: 14px; display: block; position: relative;
}
.con_title span {
	margin: 5px 20px 0px; color: rgb(255, 153, 0); font-size: 14px; font-weight: bold; float: left;
}
.con_title li {
	margin: 0px 4px 0px 10px; width: 68px; height: 23px; line-height: 23px; overflow: visible; float: left; position: relative; cursor: pointer;
}
.con_title li a:link {
	color: rgb(4, 4, 4); display: block;
}
.con_title li a:visited {
	color: rgb(4, 4, 4); display: block;
}
.con_title li a:hover {
	background: url("../images/ss2a.gif") repeat-x 0px 0px; color: rgb(253, 40, 40); text-decoration: none;
}
.ssnav1 {
	background: url("../images/ss1.gif") repeat-x 0px 0px; border-width: 1px 1px 0px; border-style: solid; border-color: rgb(111, 184, 234); text-align: center; color: rgb(51, 51, 51); font-weight: bold;
}
.ssnav2 {
	background: url("../images/ss2.gif") repeat-x 0px 0px; border-width: 1px 1px 0px; border-style: solid; border-color: rgb(125, 199, 237); text-align: center; color: rgb(51, 51, 51);
}
.div_con {
	margin: 0px auto; width: 740px; text-align: center; overflow: hidden; border-top-color: rgb(125, 199, 237); border-top-width: 1px; border-top-style: solid; display: block; position: relative; background-color: rgb(238, 243, 246);
}
.div_con li {
	margin: 10px 4px 0px 10px; width: 150px; height: 23px; line-height: 23px; overflow: visible; float: left; position: relative; cursor: pointer;
}
.div_con li a:link {
	color: rgb(16, 116, 178); text-decoration: none; display: block;
}
.div_con li a:visited {
	color: rgb(16, 116, 178); text-decoration: none; display: block;
}
.div_con li a:hover {
	color: rgb(16, 116, 178); text-decoration: none;
}
