body, td{

	margin: 0px;

	font: 12px Arial, Helvetica, sans-serif;

	text-align: left;



}

.font14{

	font-size: 14px;font-weight: bold;

	font-family:Verdana, Arial, Helvetica, sans-serif;

}

.smalltxt {

	font: 12px Arial, Helvetica, sans-serif !important;

	font: 11px Arial, Helvetica, sans-serif;

}



html, body {

scrollbar-face-color:#695b4f; scrollbar-arrow-color:#ffffff; 

scrollbar-highlight-color:#ffffff; scrollbar-3dlight-color:#70807d; 

scrollbar-shadow-color:#ffffff; scrollbar-darkshadow-color:#70807d; 

scrollbar-track-color:#A9998B;background: #f2f7ee;  

}



 textarea, select {

	margin: 5px 0px;

	border: 1px solid #6699CC;

	font: 13px Arial, Helvetica, sans-serif;

	line-height: 1.3em;

	color: #006699;

	background: #FFFFFF;

}

form {

	margin: 0px;

}

textarea {

	overflow: auto;

}

.checkbox, .radio {

	border: 0px;

	background: none;

	vertical-align: middle !important;

	vertical-align: baseline;

	margin-bottom: 5px !important;

	margin-bottom: 0;

	height: 16px;

}



a {

	text-decoration: none;

	color: #555555

}

a:hover {

	text-decoration: underline;

}

.meuntop:link { color: #fff;font-weight: bold;}

.meuntop:visited { color: #fff;font-weight: bold;}

.meuntop:active {color:red;font-weight: bold;}

.meuntop:hover { color: red;font-weight: bold;}



.meunhuang:link { color: #fff;font-weight: bold;}

.meunhuang:visited { color: #fff;font-weight: bold;}

.meunhuang:active {color:#FFFF00;font-weight: bold;}

.meunhuang:hover { color: #FFFF00;font-weight: bold;}



.meuntuima:link { color: #fff;font-weight: bold;}

.meuntuima:visited { color: #fff;font-weight: bold;}

.meuntuima:active {color:red;font-weight: bold;}

.meuntuima:hover { color: red;font-weight: bold;}



.meunpage:link { color: #0033cc;font-weight: bold;}

.meunpage:visited { color: #0033cc;font-weight: bold;}

.meunpage:active {color:#0033cc;font-weight: bold;}

.meunpage:hover { color: #0033cc;font-weight: bold;}



/* ====================================================== */

/* ===========logo============== */



.logo {

	width: 168px;

	height: 50px;

	padding-top: 10px;

	padding-left: 5px;

}



.logoimg {

	display: block;

	width: 33px;

	height: 33px;

	float: left;

	padding-right: 8px;

}



.editiontext {

	padding-top: 4px;

	color: #FFFFFF;

	font-weight: bold;

	text-decoration: none;

}



/* ====================================================== */

/* ===========主菜单标签============== background: url(../images/bg_header.gif) repeat-x;*/



.topmenubg {
	background: url(../images/7v5.jpg) no-repeat; 
	background-color:#269d80;
}



.topmenu {

	height: 25px;

	float: left;

	min-width: 820px;

	width: 900px;

	font-size: 14px;

	font-weight: bold;

	color: #ffffff;

	margin-top: 0px;

}

.topmenu ul {

	margin: 0px;

	padding: 0px;

}

.topmenu li a{
	padding: 5px 10px;
    line-height: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #DCDCDC;
    border: 1px solid #696969;
    color: #555555;
    font-weight: bold;
    background-image: url(../images/bg_menu2.gif);
	display: block;
    text-decoration: none;
    font-size: 14px;
}

.topmenu li {

	float: left;

	border-bottom: none;

	list-style-type: none;

	margin-right: 1px;

	margin-top: 2px;

}



/* ===========当前链接标签============== */



#menuon {

    
}

#cgchat_num{
    border: 0px;
    width: 40px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}


.cgchat_emain_yes{
	background: url(../images/msg2.gif) no-repeat;
	height: 25px;
	line-height: 25px;
}

#menuon a {
	color: #003366;
	background-image: url(../images/bg_menu.gif);
}

.topmenubg .erzi td{
	border-top:1px solid #2a2626;
	border-left:1px solid #2a2626;
	background-color:#333333;
	padding:1px;
	border-radius:5px 0;
}

#news font {
	font-size: 12px !important;
}

/* ====================================================== */

/* ===========左侧菜单============== */



.leftmenulist {

	margin: 2px;

	border: 1px solid #525C3D;

	width: 134px;

}



.leftmenutext td {

	background: url(../images/bg_list.gif) repeat-x;

	line-height: 16px;

	height: 31px !important;

	height: 30px !important;

	height: 30px;

	font-weight: bold;

	color: #FFFFFF;

	padding-left: 4px;

	border-bottom: 1px solid #BBDCF1;

}



.leftmenutext a {

	font-size: 13px;

	font-weight: bold;

	color: #FFFFFF;

}



.leftmenutd td {

	background: #FFFFFF;

}



.leftmenuinfo {

	margin-left: 8px;

	margin-bottom: 10px;

	width: 116px;

}



.leftmenuinfo td{

	height: 1.8em;

	line-height: 1.6em;

	border-bottom: solid 1px #A3CEEB;

	text-indent: 8px;

}



/* ====================================================== */

/* ===========主内容显示表格============== */



.guide td {

	border: 1px solid #1598CB;

	background-color: #FBFFE1;

	line-height: 1.2em;

	height: 28px;

	text-indent: 20px;

	color: #FF6600;

}



.tableborder tr.hover:hover { color:#333; }

.tableborder tr.hover:hover td { background: #7EFF28; }

.tableborder tr.hover1 td{color:#333;background:#7EFF28;}

.tableborder tr.hover2 td{   background:#fff;}



.tableborder {

	outline: 1px solid #525C3D;

	border: 0px !important;

	> border: 1px solid #525C3D !important;

	border: 1px solid #525C3D;

	empty-cells: show;

	border-collapse: separate !important;

	> border-collapse: collapse !important;

	border-collapse: collapse;

}

td.print2, .print2 td {

	font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;

}

td.print5, .print5 td {

	font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;

	height:28px;line-height:19px;background: #FFFFFF;text-align:left;

}

.printfont td {

	font: 16px Arial, Helvetica, sans-serif;font-weight: bold;color:red

}

.tableborder td {

	border-bottom: 1px solid #BBDCF1;

	border-right: 1px solid #BBDCF1;

	line-height: 1.5em;

	height: 2em;

	padding: 4px;

	background: #FFFFFF;



}

.tableborder td ul, .tableborder td ul li {

	line-height: 22px;

	margin-bottom: 0px;

	margin-top: 0px;

}

.tableborder td img {

	margin-top: 8px;

}



.tableborder td .smalltxt {

	line-height: 20px;

}

.sub td.altbg1 {

	padding-left: 1.5em;

}

.category td {

	color: #333333;

	background-color: #F0F0F0;

}



td.altbg1, .altbg1 td {

	background: #F1F5F8;

	text-decoration: none;

}

td.altbg1 a,.altbg1 td a,td.altbg2 a, .altbg2 td a {

	text-decoration: none;

	color:#3333FF

}

td.altbg2, .altbg2 td {

	background: #FFFFFF;

}







.setprint ,.left_b ,.numberfrank{

	outline: 1px solid #640000;

	border: 0px !important;

	> border: 1px solid #640000 !important;

	border: 1px solid #640000;

	empty-cells: show;

	border-collapse: separate !important;

	> border-collapse: collapse !important;

	border-collapse: collapse;margin-top: 2px;

}



.left_b td ,.setprint td{

	line-height: 18px;

	height: 22px;

	padding: 2px;

	background: #FFFFFF;



}

.setprint td img {

	border: 1px solid #330000;

}



td.setprintcon,.setprintcon.td {

	color:#000000;
	font-weight: bold;
	font-size: 16px;
}

td.setprinttit,.setprinttit.td {

	font-size: 22px;text-align:center;color:#0033cc;font-weight: bold;

}

.numberfrank td {

	line-height: 1.5em;

	height: 1em;

	padding: 2px;

}

.left_b td ul, .left_b td ul li {

	line-height: 22px;

	margin-bottom: 0px;

	margin-top: 0px;

}

.left_b td img {

	margin-top: 8px;

}



.left_b td .smalltxt {

	line-height: 20px;

}

.print_b {

	outline: 1px solid #640000;

	border: 0px !important;

	border: 2px solid #330000 !important;

	border: 2px solid #330000;

	empty-cells: show;

	border-collapse: separate !important;

	border-collapse: collapse !important;

	border-collapse: collapse;margin-top: 2px;

}

.print_b td {

	text-align:center;

	line-height: 20px;

	height: 20px;

	padding: 2px;

	background: #FFFFFF;



}

.print_head {

	line-height: 16px;

	width:700px;

	height: 22px !important;

	height: 21px !important;

	height: 21px;

	font-weight: bold;

	font-size: 16px;

	color: #000000;

	border-bottom: 1px solid #2a2626;

	padding:8px;

	margin-top:14px;

	margin-bottom:2px;

}

td.print_B,.print_B.td {

	line-height: 20px;

	height: 20px;

	font-size:15px;

}



.soon_b,.members_b,.soonselect_b {
	/*border: 1px solid #090 */
	border: 1px solid #08512c;
	margin-top: 2px;

	border-radius: 4px;
}

.soon_b_no {

	outline: 0px solid #640000;

	border: 0px !important;

	border: 1px solid #C0C0C0 !important;

	border: 0px solid #640000;

	empty-cells: show;

	border-collapse: separate !important;

	border-collapse: collapse !important;

	border-collapse: collapse;

}



td.soon_b_B,.soon_b_B.td {

	line-height: 2em;

	font-weight: bold;

	font-size:15px;

}

td.soon_b_f1,.soon_b_f1.td {

	color:red

}

td.soon_b_f2,.soon_b_f2.td {

	color:#009900 !important;

}

.soon_b_f3 {

	color:red

}

.soon_b td {

	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	/*border-right: 1px solid #f6d3bc;*/

	text-align:center;

	line-height: 1.5em;

	height: 1em;

	/*padding: 2px;*/

	background: #FFFFFF;

}

.soonselect_b td {

	border-bottom: 1px solid #f6d3bc;

	border-right: 1px solid #f6d3bc;

	line-height: 1.5em;

	height: 1em;

	padding: 2px;

	background: #FFFFFF;



}

.center td {

	text-align:center;

}

td.center,.center.td {

	text-align:center;

}

.members_b td {

	border-bottom: 1px solid #f6d3bc;

	border-right: 1px solid #f6d3bc;

	line-height: 1.5em;

	height: 1em;

	padding: 2px 10px;

	background: #FFFFFF;



}



.soon_b td ul, .soon_b td ul li,.members_b td ul, .members_b td ul li,.soonselect_b td ul, .soonselect_b td ul li {

	line-height: 22px;

	margin-bottom: 0px;

	margin-top: 0px;

}

.soon_b td img {

	margin-top: 8px;



}



.soon_head  td {

	background: #EEEEEE;

	

}



td.soon_hot1,.soon_hot1.td {

	background: #FFFFC4;

}

.soon_b td .smalltxt {

	line-height: 20px;

}

.soon_b tr.hover:hover { color:#333; }

.soon_b tr.hover:hover td { background: #7EFF28; }



.soon_b tr.hover1 td{color:#333;background:#7EFF28;}

.soon_b tr.hover2 td{   background:#fff;}



.header_left_b td {

	background: url(../images/title7.jpg) repeat-x;

	line-height: 16px;

	height: 27px !important;

	height: 26px !important;

	height: 26px;

	font-weight: bold;

	color: #fff;

	border-bottom: 1px solid #2a2626;

	padding: 0px 8px;

}



.soon_hot td{

	background: #FFFF00;

}

td.soon_hot,.soon_hot.td {

	background: #FFFF00;

}



.soon_tuima1 td{

	background: #DEDEBC;

	color:red

}



.soon_tuima td,td.soon_tuima, .soon_tuima.td{

	color: red;
	background-color: #f2dede;

}



.header td {

	background: url(../images/bg_list.gif) repeat-x;

	line-height: 16px;

	height: 31px !important;

	height: 30px !important;

	height: 30px;

	font-weight: bold;

	color: #FFFFFF;

	border-bottom: 1px solid #525C3D;

	padding: 0px 8px;

}



.jswizard tr {

	border-top: 1px solid #BBDCF1;

	border-left: 1px solid #BBDCF1;

}



.jswizard td {

	border: 1px solid #BBDCF1;

	border: 1px solid #BBDCF1;

	padding: 2px;

}



.header a{

	color: #FFFFFF;

}



/* ====================================================== */

/* ===========按钮式样============== */



.button {

	font: 12px Arial, Helvetica, sans-serif;

	padding: 0 6px;

	color: #000;

	background: url(../images/bg_button.gif) repeat-x;



	/*for Mozilla*/

 	outline: 1px solid #1590BE ;

	border: 1px solid #FFFFFF !important;

	height: 26px !important;

	line-height: 22px !important;



	/*for IE7*/

	border: 1px solid #1590BE !important;

	height: 26px !important;

	line-height: 20px !important;





	/*for IE*/

	border: 1px solid #1590BE ;

	height: 26px;

	line-height: 20px;

}

.number {

	font: 28px Arial, Helvetica, sans-serif;

	color: #000;

	font-weight: bold;

	/*padding: 0 6px;

	for Mozilla

 	outline: 1px solid #1590BE ;

	border: 1px solid #FFFFFF !important;

	height: 36px !important;

	line-height: 34px !important;



	for IE7

	> border: 1px solid #1590BE !important;

	> height: 34px !important;

	> line-height: 34px !important;



	for IE

	border: 1px solid #1590BE ;

	height: 40px;

	line-height: 34px;*/

	width:80px;

}



.soonselect_w {

	font: 14px Arial, Helvetica, sans-serif;color: #000;

	/*padding: 0 4px;

	

	font-weight: bold;

	for Mozilla

 	outline: 1px solid #1590BE ;

	border: 1px solid #FFFFFF !important;

	height: 26px !important;

	line-height: 24px !important;



	for IE7

	> border: 1px solid #1590BE !important;

	> height: 20px !important;

	> line-height: 20px !important;



	for IE

	border: 1px solid #1590BE ;

	height: 20px;

	line-height: 24px;*/

	

}

.soonselect_w20{width:20px;}

.soonselect_w35{width:30px;}

.soonselect_w55{width:55px;}

.soonselect_w25{width:30px;}

.soonselect_w74{width:86px;}

.soonselect_w100{width:190px;}



.soonselect_b td dl{

 color:#990033;

 font-weight: bold;display: inline;

}

.number_send{

	

	padding: 0 6px;

	color: #000;

	/*for Mozilla*/

	height: 36px !important;

	line-height: 34px !important;



	/*for IE7*/

	height: 38px !important;

	line-height: 38px !important;



	/*for IE*/

	height: 40px;

	line-height: 34px;

}

.number_count{

	

	padding: 0px;

	color: #000;

	/*for Mozilla*/

	height: 32px !important;

	line-height: 33px !important;



	/*for IE7*/

	height: 32px !important;

	line-height: 30px !important;



	/*for IE*/

	height: 31px;

	line-height: 32px;

}

.number_w{

	/*color: #000;*/

	/*font: 14px Arial, Helvetica, sans-serif;*/

	/*padding: 0px 2px;margin: 0px;*/

	/*!*for Mozilla*!*/

	/*height: 42px !important;*/

	/*line-height: 20px !important;*/

	/*!*for IE7*!*/

	/*> height: 42px !important;*/

	/*> line-height: 20px !important;*/

	/*> padding: 0px!important;*/

	/*!*for IE*!*/

	/*height: 41px;*/

	/*line-height: 19px;*/

	/* 确认下注 */
	display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;
	vertical-align:middle;cursor:pointer;
	color:#fff;

	background-color:#b92929;
	background-image:-moz-linear-gradient(top, #d53939, #b92929);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#d53939), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #d53939, #b92929);
	background-image:-o-linear-gradient(top, #d53939, #b92929);
	background-image:linear-gradient(top, #d53939, #b92929);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fcaee', endColorstr='#ffe6e6e6', GradientType=0);
	border-color:#b92929 #b92929 #bfbfbf;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#b92929;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #b92929;
	*border:0;
	border-bottom-color:#b42323;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;

	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;

	*background-color:#d53939;
	*border:1px solid #b11a1a;
	*padding:4px 12px 0px 12px;
}

.number_w2{

width:150px;font: 28px Arial, Helvetica, sans-serif;font-weight: bold;

}

.number_w3{

width:60px;font: 14px Arial, Helvetica, sans-serif;

}

.number_w4{

font: 14px Arial, Helvetica, sans-serif;

}

.money_count{

	/*padding: 0 2px;

	color: #000;

	for Mozilla

 	outline: 1px solid #1590BE ;

	border: 1px solid #FFFFFF !important;

	height: 30px !important;

	line-height: 34px !important;



	for IE7

	> border: 1px solid #1590BE !important;

	> height: 30px !important;

	> line-height: 30px !important;



	for IE

	border: 1px solid #1590BE ;

	height: 30px;

	line-height: 34px;*/

}

.money_1{

	width:60px;

	font: 28px Arial, Helvetica, sans-serif;	

	color: #000;

	font-weight: bold;



}

td.top_1,.top_1.td {background: #ffffff;}

td.top_2,.top_2.td {background: #ff9900;}



.select_button1{

	

}



.select_button2{

	

}

.number_web {

	font: 20px Arial, Helvetica, sans-serif;

}

/*	

 ====================================================== */

/* ===========footer============== */



.footer {

	height: 20px;

	margin: 20px;

	text-align: center;

}



/* ====================================================== */

/* ==========page分页=========== */



.pages {

	margin: 10px 0px;

	height: 26px;

	line-height: 24px;

	color: #999;

	overflow: hidden;

}

.pages a, .pages strong, .pages em {

	float: left;

	padding: 0 5px;

	background: #F7FAFA;

	border: 1px solid #6699CC;

	border-left: 0;

}

.pages strong {

	font-weight: bold;

	color: #6699CC;

	background: #E8EDF2;

}

.pages em {

	border: 1px solid #6699CC;

}

.pages a.prev, .pages a.next {

	line-height: 22px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #1F90CF;

	padding: 0px 15px 2px;

}

.pages kbd {

	float: left;

	padding: 0 8px;

	margin: 0;

}

.pages input {

	margin: 0px;

	margin-left: 0.5em;

	height: 20px !important;

	height: 19px !important;

	height: 19px;

	line-height: 20px;

}





/* ====================================================== */

/* ==========日历=========== */

#calendar {

	BORDER-RIGHT: #9db3c5 1px solid; BORDER-TOP: #9db3c5 1px solid; BACKGROUND: url(../images/headbox.gif) #f5fafe repeat-x 0px 0px; MARGIN-BOTTOM: 0.8em; BORDER-LEFT: #9db3c5 1px solid; BORDER-BOTTOM: #9db3c5 1px solid

}

#calendar TD {

	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px

}

#calendar_week TD {

	LINE-HEIGHT: 2em; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 2em

}

#hourminute TD {

	PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px

}

.calendar_expire {

	FONT-WEIGHT: normal; COLOR: #666

}

.calendar_expire A:link {

	FONT-WEIGHT: normal; COLOR: #666

}

.calendar_expire A:visited {

	FONT-WEIGHT: normal; COLOR: #666

}

.calendar_default {

	COLOR: #069

}

.calendar_default A:link {

	COLOR: #069

}

.calendar_default A:visited {

	COLOR: #069

}

.calendar_checked {

	FONT-WEIGHT: bold; COLOR: #090

}

.calendar_checked A:link {

	FONT-WEIGHT: bold; COLOR: #090

}

.calendar_checked A:visited {

	FONT-WEIGHT: bold; COLOR: #090

}

TD.calendar_checked {

	BACKGROUND: #ddd

}

SPAN.calendar_checked {

	BACKGROUND: #ddd

}

.calendar_today {

	FONT-WEIGHT: bold; COLOR: #000

}

.calendar_today A:link {

	FONT-WEIGHT: bold; COLOR: #000

}

.calendar_today A:visited {

	FONT-WEIGHT: bold; COLOR: #000

}

#calendar_header TD {

	FONT-WEIGHT: normal; WIDTH: 30px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 20px

}

#calendar_year {

	DISPLAY: none; Z-INDEX: 10; BACKGROUND: #f5fafe; LINE-HEIGHT: 130%; POSITION: absolute

}

#calendar_year .col {

	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 4px; BACKGROUND: #f5fafe; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN-LEFT: 1px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid

}

#calendar_month {

	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ddd 1px solid; DISPLAY: none; PADDING-LEFT: 4px; Z-INDEX: 11; BACKGROUND: #f5fafe; PADDING-BOTTOM: 4px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 130%; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid; POSITION: absolute

}



/* ====================================================== */

/* ==========其他=========== */



.formulaeditor {

	margin: 5px 0px;

	width: 90%;

	border: 1px solid #6699CC;

}



.formulaeditor div{

	padding: 2px;

}



.formulaeditor textarea{

	border: 0px;

	border-top: 1px solid #6699CC;

	margin: 0px;

	padding: 0px;

}



.formulaeditor a {

	border: 1px solid #6699CC;

	padding: 2px;

	background: #FFFFFF;

	line-height: 25px;

}



.process {

	width: 400px;

	height: 40px;

	background: url(../images/process.gif) repeat-x;

	text-align:left;

	border: 1px solid #000000;

}



.processbg {

	width: 402px;

	height: 40px;

	line-height:

	40px;text-align:center;

	color:#fff;

	background: url(../images/processbg.gif) -0% 0 no-repeat;

}

.periodImg_0{background:url("../images/period_0.gif"); } 

.periodImg_1{background:url("../images/period_1.gif"); } 

.periodImg_2{background:url("../images/period_2.gif"); } 

.periodImg_3{background:url("../images/period_3.gif"); } 

.periodImg_4{background:url("../images/period_4.gif"); } 

.periodImg_5{background:url("../images/period_5.gif"); } 

.periodImg { 

	font: 14px Arial, Helvetica, sans-serif;

	font-weight:bold;

	text-align:center;

	height:37px; 

	line-height:30px;

	width:30px; 

	border:none;

	color:#ffffff;

	

}



.showselectnumber {

	outline: 1px solid #43809C;

	border: 0px !important;

	border: 1px solid #43809C !important;

	border: 1px solid #43809C;

	empty-cells: show;

	border-collapse: separate !important;

	border-collapse: collapse !important;

	border-collapse: collapse;margin-top: 2px;

}

.showselectnumber ul{

	margin: 0px;

	padding: 0px;

}

.showselectnumber  td {

	width:54px;

	height:20px;

	border-bottom: 1px solid #43809C;

	border-right: 1px solid #43809C;

	cursor:pointer;

}

 .del {

	background: #00CC00;

	color:#ffffff;

}



.report_1{

	

}

td.report_2, .report_2 td{

font-family:Verdana, Arial, Helvetica, sans-serif;

}

td.print3, .print3 td {

	font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;

}

.tablebprint4 { 

	outline: 1px solid #660000;

	border: 0px !important;

	border: 1px solid #660000 !important;

	border: 1px solid #660000;

	empty-cells: show;

	border-collapse: separate !important;

	border-collapse: collapse !important;

	border-collapse: collapse;margin-top: 2px;

}

.tablebprint4 td { 

	border-bottom: 1px solid #660000;

	border-right: 1px solid #660000;

	line-height: 19px;

	height: 19px;

	padding: 1px;

	background: #FFFFFF;

}

.odds_black{
	color: #000000 !important;
}

.soon_success td,td .soon_success{
	color: red;
	background-color: #ffff00;
}

.btn_tuima {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	/* text-shadow: 0 1px 1px #333; */
	/* text-shadow: 0 1px 1px #000000; */
	background-color: #b92929;
	background-image: -moz-linear-gradient(top, #d53939, #b92929);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d53939), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #d53939, #b92929);
	background-image: -o-linear-gradient(top, #d53939, #b92929);
	background-image: linear-gradient(top, #d53939, #b92929);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fcaee', endColorstr='#ffe6e6e6', GradientType=0);
	border-color: #b92929 #b92929 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #b92929;
	border-bottom-color: #b42323;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px #e99494 inset, 0 -1px 0 #954b4b inset, 0 -2px 3px #e99494 inset;
}

.btn_tuima:hover, .btn_tuima:focus {
	color: #fff;
	text-decoration: none;
	background-color: #eb6f6f;
	background-image: -moz-linear-gradient(top, #eb6f6f, #c83c3c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb6f6f), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #eb6f6f, #c83c3c);
	background-image: -o-linear-gradient(top, #eb6f6f, #c83c3c);
	background-image: linear-gradient(to bottom, #eb6f6f, #c83c3c);
	border: 1px solid #b92929;
}

.pagination {
	height: 36px;
	margin: 18px 0;
}
li.allnumpage{
	font-size: 13px;font-weight: bold;color: #8e9196;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
	display: inline;

}
.pagination a ,.pagination li.allnumpage  {
	float: left;
	padding: 0 5px;
	line-height: 24px;
	text-decoration: none;
	border: 1px solid #babdc1;
	border-left-width: 0;
	background-color:#fff;
}
.pagination a:hover,
.pagination .active a {
	color: #fff;background-color: #5192fb;
}
.pagination input:hover,
.pagination .active input {
	color: red;background-color: #eee;
}
.pagination input {
	color: red;background-color: #fff;border: 1px solid #babdc1;width:15px;height: 26px;line-height: 18px;*line-height: 22px;text-align: center;cursor: default;border-left-width: 0;
}
.pagination .active a {
	color: #fff;
	cursor: default;background-color:#5192fb;font-weight: bold;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
	color: #999999;
	background-color: #fff;
	cursor: default;
}
.pagination li.displaynone{
	display:none;
}
.pagination li:first-child a,.pagination li.allnumpage {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.pagination li:last-child a ,.pagination input {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.pagination-centered {
	text-align: center;
}

.pagination-right {
	text-align: right;
}
.pagination li.input{}




